.hero {

    padding: 15em 5em;
    width: 100%;

    h5 {
        font-size: 1.5rem;
        font-weight: normal;
        color: $main-color;
        margin-bottom: 15px;
    }

    h2 {
        font-size: 3.75rem;
        font-weight: bold;
        color: $hitam;
    }

    .row {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .col-satu {

            img {
                width: 300px;
            }
        }

        .col-dua {

            max-width: 500px;

            h3 {
                font-size: 60px;
                font-weight: normal;
                color: $hitam;
            }

            a {
                display: block;
                margin-top: 20px;
                color: $putih;
                padding: 10px 15px;
                background-color: $main-color;
                cursor: pointer;
                font-weight: bold;
                background-color: #5B42F3;
                letter-spacing: 2px;
                transition: .4s;
            }

            a:hover {
                background-color: #AF40FF;
            }
        }
    }
}


.sosial_media {
    margin-top: 20px;
    display: flex;
    gap: 24px;

    .icon_sosial_media {
        width: 30px;
        height: 30px;
    }
}



@media (max-width: 1000px) {
    .hero {

        
        h5 {
            text-align: center;
        }
        h2 {
            text-align: center;
        }


        .row {
            text-align: center;
            justify-content: center;
            gap: 20px;
            flex-wrap: wrap;
            .col-satu {

                img {
                    margin: 0 auto;
                }
            }

            .col-dua {

                h3 {
                    font-size: 40px;
                }
            }
        }


        .sosial_media {

            position: fixed;
            left: 10px;
            top: calc(100% - 65%);
            flex-direction: column;
        }
    }
}


@media (max-width: 768px) {
    .hero {
        padding: 5em 2em;

        h2 {
            font-size: 3rem;
        }
    }
}