html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.navbar {
  background-color: #5B42F3;
  width: 100%;
  padding: 15px 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: fixed;
  z-index: 1000;
}
.navbar .navbar_links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.navbar .navbar_links a {
  color: rgb(238, 238, 238);
  font-size: 1.3rem;
  transition: 0.3s;
}
.navbar .navbar_links a:hover {
  color: black;
}

.hero {
  padding: 15em 5em;
  width: 100%;
}
.hero h5 {
  font-size: 1.5rem;
  font-weight: normal;
  color: #63458A;
  margin-bottom: 15px;
}
.hero h2 {
  font-size: 3.75rem;
  font-weight: bold;
  color: #2C3333;
}
.hero .row {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero .row .col-satu img {
  width: 300px;
}
.hero .row .col-dua {
  max-width: 500px;
}
.hero .row .col-dua h3 {
  font-size: 60px;
  font-weight: normal;
  color: #2C3333;
}
.hero .row .col-dua a {
  display: block;
  margin-top: 20px;
  color: #EEEEEE;
  padding: 10px 15px;
  background-color: #63458A;
  cursor: pointer;
  font-weight: bold;
  background-color: #5B42F3;
  letter-spacing: 2px;
  transition: 0.4s;
}
.hero .row .col-dua a:hover {
  background-color: #AF40FF;
}

.sosial_media {
  margin-top: 20px;
  display: flex;
  gap: 24px;
}
.sosial_media .icon_sosial_media {
  width: 30px;
  height: 30px;
}

@media (max-width: 1000px) {
  .hero h5 {
    text-align: center;
  }
  .hero h2 {
    text-align: center;
  }
  .hero .row {
    text-align: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  .hero .row .col-satu img {
    margin: 0 auto;
  }
  .hero .row .col-dua h3 {
    font-size: 40px;
  }
  .hero .sosial_media {
    position: fixed;
    left: 10px;
    top: 35%;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .hero {
    padding: 5em 2em;
  }
  .hero h2 {
    font-size: 2.5rem;
  }
}
.about {
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 70px 0;
}
.about .about_col_satu {
  max-width: 400px;
}
.about .about_col_satu h5 {
  font-size: 20px;
  color: #63458A;
  margin-bottom: 15px;
  font-weight: bold;
}
.about .about_col_satu p {
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 20px;
}
.about .about_col_dua {
  width: 400px;
}

@media (max-width: 1000px) {
  .about {
    flex-wrap: wrap-reverse;
    padding: 30px 0;
  }
  .about .about_col_satu {
    max-width: 300px;
  }
  .about .about_col_satu h5 {
    text-align: center;
  }
  .about .about_col_satu p {
    text-align: justify;
  }
  .about .about_col_dua {
    width: 300px;
  }
}
@media (max-width: 768px) {
  .about .about_col_satu {
    margin-top: 20px;
  }
  .about .about_col_satu p {
    margin: 0 20px;
  }
}
.projects {
  padding: 8em 3em;
  width: 100%;
}
.projects h2 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 50px;
  font-size: 24px;
}
.projects .front_end h4, .projects .backend h4, .projects .fullstack h4 {
  margin-bottom: 20px;
  font-weight: bold;
  color: #63458A;
  font-size: 18px;
}
.projects .backend, .projects .fullstack {
  margin-top: 50px;
}
.projects .project {
  width: 300px;
  background-color: #EEEEEE;
  padding: 12px;
  border-radius: 10px;
  transition: 0.3s;
}
.projects .project img {
  width: 100%;
  margin-bottom: 10px;
}
.projects .project h6 {
  margin-bottom: 10px;
  font-size: 18px;
}
.projects .project .project_buttons {
  display: flex;
  gap: 15px;
}
.projects .project .project_buttons .project_buttons_details, .projects .project .project_buttons .project_buttons_demo {
  padding: 5px 7px;
  background-color: #5B42F3;
  color: #EEEEEE;
  border-radius: 3px;
  cursor: pointer;
}
.projects .project:hover {
  background-color: orange;
}

@media (max-width: 1000px) {
  .projects {
    padding: 5em 1em;
  }
  .projects .project {
    width: 250px;
    margin: 0 auto;
  }
  .projects .front_end h4, .projects .backend h4, .projects .fullstack h4 {
    margin-left: 20px;
  }
}
.teknologi {
  background-color: #ddd;
  padding: 5em 0;
  width: 100%;
}
.teknologi h5 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 50px;
  font-size: 24px;
}
.teknologi .tech_icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.footer {
  padding: 20px 0;
  text-align: center;
  font-size: 20px;
}

.panah {
  display: none;
}

.panah_active {
  width: 30px;
  height: 30px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  -webkit-animation: totop 1s infinite linear;
          animation: totop 1s infinite linear;
  cursor: pointer;
}
.panah_active img {
  width: 100%;
}

@-webkit-keyframes totop {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes totop {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.mySwiper {
  padding-bottom: 30px !important;
}/*# sourceMappingURL=main.css.map */